
  <nz-card [nzBordered]="false" nzTitle="Itens" [nzExtra]="extraTemplate" [nzBodyStyle]="{'padding': '0'}">
    <nz-table #itensTable nzSize="small" [nzData]="[]">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of itensTable.data">
          <td>{{data.imagem}}</td>
          <td>{{data.nome}}</td>
          <td>{{data.qtd_disponivel}}</td>
          <td>{{data.valor}}</td>
          <td nzRight>
            <a>Detalhes</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>

<ng-template #extraTemplate>
  <div class="extra-options">

    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search" nzTheme="outline"></span>
    </ng-template>
    <button nz-button nzType="primary" (click)="showModalAdicionar()">Adicionar</button>

  </div>
</ng-template>


<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzWidth]="720"
      [nzVisible]="modalAddVisible"
      nzTitle="Novo item"
      [nzFooter]="footerTpl"
      (nzOnClose)="showModalAdicionar()"
    >
      <form nz-form *nzDrawerContent>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Name</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="please enter user name" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Url</nz-form-label>
              <nz-form-control>
                <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
                  <input type="text" nz-input placeholder="please enter url" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Owner</nz-form-label>
              <nz-form-control>
                <nz-select nzPlaceHolder="Please select an owner"></nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Type</nz-form-label>
              <nz-form-control>
                <nz-select nzPlaceHolder="Please choose the type"></nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Approver</nz-form-label>
              <nz-form-control>
                <nz-select nzPlaceHolder="Please choose the approver"></nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>DateTime</nz-form-label>
              <nz-form-control>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Description</nz-form-label>
              <nz-form-control>
                <textarea
                  nz-input
                  placeholder="please enter url description"
                  [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>

      <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="showModalAdicionar()">Cancelar</button>
          <button nz-button nzType="primary" (click)="showModalAdicionar()">Adicionar</button>
        </div>
      </ng-template>
    </nz-drawer>
