<nz-card
  [nzBordered]="false"
  nzTitle="Itens"
  [nzExtra]="extraTemplate"
  [nzBodyStyle]="{ padding: '0' }"
>
  <nz-table
    #itensTable
    nzSize="small"
    [nzData]="produtos"
    [nzFrontPagination]="false"
    [nzTotal]="pagination?.total"
    [nzPageSize]="pagination?.perPage"
    [nzPageIndex]="pagination?.currentPage"
    (nzQueryParams)="listByTable($event)"
    [nzFooter]="footer"
    class="table-small"
  >
    <thead>
      <tr>
        <th nzAlign="center">Imagem</th>
        <th nzColumnKey="nome" [nzSortFn]="true">Nome</th>
        <th nzAlign="center" nzColumnKey="quantidade_estoque" [nzSortFn]="true">
          Estoque
        </th>
        <th nzColumnKey="preco" [nzSortFn]="true">Valor</th>
        <th nzAlign="center"></th>
      </tr>
    </thead>
    <tbody>
      @for ( p of produtos; track $index) {

      <tr>
        <td nzAlign="center">{{ p.imagem }}</td>
        <td>{{ p.nome }}</td>
        <td nzAlign="center">{{ p.quantidade_estoque }}</td>
        <td>{{ p.preco | currency : "BRL" }}</td>
        <td nzAlign="center" nzRight>
          <a nz-button nzType="link" [disabled]="true">Detalhes</a>
        </td>
      </tr>

      }
    </tbody>
  </nz-table>

  <ng-template #footer>
    @if (produtos?.length > 0) {
    <span
      >{{ pagination?.from }}-{{ pagination?.to }} de
      {{ pagination?.total }} registros</span
    >
    }
  </ng-template>
</nz-card>

<ng-template #extraTemplate>
  <div class="extra-options">
    <button nz-button nzType="primary" (click)="showModalAdicionar()">
      Cadastrar
    </button>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        [(ngModel)]="formFiltrar.value.pesquisa"
        type="text"
        (keyup)="buscar()"
        nz-input
        placeholder="Pesquisar"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search" nzTheme="outline"></span>
    </ng-template>
    <nz-badge
      *ngIf(false)
      [nzCount]="qtdFiltrosAtivos"
      [nzStyle]="{ backgroundColor: '#52c41a', 'margin-right': '15px' }"
    >
      <button
        nz-tooltip="Filtros"
        nz-button
        nzType="primary"
        (click)="showModalFiltrar()"
      >
        <span nz-icon nzType="filter" nzTheme="outline"></span>
      </button>
    </nz-badge>
    <button
      nz-tooltip="Limpar filtros"
      nz-button
      nzType="default"
      (click)="resetSearch()"
    >
      Limpar
    </button>
    <button
      *ngIf(false)
      nz-tooltip="Redimensionar tabela"
      nz-button
      [nzType]="'default'"
      (click)="expandEvent()"
      style="padding: 4px 8px"
    >
      <span
        nz-icon
        [nzType]="expand ? 'fullscreen-exit' : 'fullscreen'"
        nzTheme="outline"
      ></span>
    </button>
  </div>
</ng-template>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzWidth]="650"
  [nzVisible]="modalAddVisible"
  nzTitle="Cadastrar Produto"
  [nzFooter]="footerTpl"
  (nzOnClose)="showModalAdicionar()"
>
  <form
    [nzAutoTips]="autoTips"
    nz-form
    [formGroup]="formCadastrar"
    *nzDrawerContent
  >
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>Nome</nz-form-label>
          <nz-form-control
            [nzSpan]="19"
            [nzHasFeedback]="formCadastrar.value.nome"
          >
            <input
              formControlName="nome"
              nz-input
              placeholder="Informe o nome do produto"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>Categoria</nz-form-label>
          <nz-form-control
            [nzSpan]="19"
            [nzHasFeedback]="formCadastrar.value.categoria_id"
          >
            <nz-select
              nzShowSearch="true"
              [nzAllowClear]="true"
              nzPlaceHolder="Selecione"
              formControlName="categoria_id"
            >
              @for (c of categorias; track $index) {
              <nz-option
                [nzValue]="c.categoria_id"
                [nzLabel]="c.descricao"
              ></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>Marca</nz-form-label>
          <nz-form-control
            [nzSpan]="19"
            [nzHasFeedback]="formCadastrar.value.marca_id"
          >
            <nz-select
              nzPlaceHolder="Selecione"
              nzShowSearch="true"
              [nzAllowClear]="true"
              formControlName="marca_id"
            >
              @for (m of marcas; track $index) {
              <nz-option
                [nzValue]="m.marca_id"
                [nzLabel]="m.descricao"
              ></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzRequired>Preço de Venda</nz-form-label>
          <nz-form-control [nzHasFeedback]="formCadastrar.value.preco">
            <input
              type="text"
              mask="separator.2"
              thousandSeparator="."
              formControlName="preco"
              nz-input
              placeholder="EX. 0,00"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Preço de Custo</nz-form-label>
          <nz-form-control [nzHasFeedback]="formCadastrar.value.preco_custo">
            <input
              type="text"
              mask="separator.2"
              thousandSeparator="."
              formControlName="preco_custo"
              nz-input
              placeholder="EX. 0,00"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzRequired>Fornecedor</nz-form-label>
          <nz-form-control [nzHasFeedback]="formCadastrar.value.fornecedor_id">
            <nz-select
              nzPlaceHolder="Selecione"
              nzShowSearch="true"
              [nzAllowClear]="true"
              formControlName="fornecedor_id"
            >
              @for (f of fornecedores; track $index) {
              <nz-option
                [nzValue]="f.fornecedor_id"
                [nzLabel]="f.descricao"
              ></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Quantidade inicial</nz-form-label>
          <nz-form-control
            [nzHasFeedback]="formCadastrar.value.quantidade_estoque"
          >
            <input
              formControlName="quantidade_estoque"
              nz-input
              type="number"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Descrição</nz-form-label>
          <nz-form-control [nzHasFeedback]="formCadastrar.value.descricao">
            <textarea
              formControlName="descricao"
              nz-input
              placeholder="Descrição do item"
              [nzAutosize]="{ minRows: 4, maxRows: 4 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button
        nz-button
        style="margin-right: 8px"
        (click)="showModalAdicionar()"
      >
        Cancelar
      </button>
      <button nz-button nzType="primary" (click)="cadastrar()">
        Confirmar
      </button>
    </div>
  </ng-template>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzWidth]="500"
  [nzVisible]="modalFiltrarVisible"
  nzTitle="Filtros"
  [nzFooter]="footerTplFiltrar"
  (nzOnClose)="showModalFiltrar()"
>
  <form nz-form [formGroup]="formFiltrar" nzLayout="vertical" *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Valor Mínimo</nz-form-label>
          <nz-form-control>
            <input formControlName="precoDe" nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Valor Maximo</nz-form-label>
          <nz-form-control>
            <input formControlName="precoAte" nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTplFiltrar>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="showModalFiltrar()">
        Cancelar
      </button>
      <button nz-button nzType="primary" (click)="filtrar(formFiltrar, params)">
        Filtrar
      </button>
    </div>
  </ng-template>

  <ng-template #footerTpl>
    <div style="float: right">
      <button
        nz-button
        style="margin-right: 8px"
        (click)="showModalAdicionar()"
      >
        Cancelar
      </button>
      <button nz-button nzType="primary" (click)="showModalAdicionar()">
        Adicionar
      </button>
    </div>
  </ng-template>
</nz-drawer>
