.login-main {

  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    border-radius: 3px;
  }

}

.info-box {
  width: 18%;
  background-color: rgb(255, 255, 255);
  padding: 2% 4%;
  min-width: 250px;
  max-width: 400px;

  .titulo {
    font-size: 2em;
  }

  p {
    margin-top: 10px;
  }

}

.login-box{
  width: 25%;
  color: #fff;
  background-color: #011425f4;
  padding: 5% 4%;
  min-width: 300px;
  max-width: 450px;

    .bt-logar{
      margin-top: 15px;
      float: right;
      width: 33%;
    }
}

label {
  display: inline-block;
  color: #fff;
  padding: 6px;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .info-box {
    display: none;
  }
}
