<nz-layout>
  <nz-sider [ngClass]="[isCollapsed ? 'mobile-side' : '']" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>


    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Estabelecimento" nzIcon="file">
        <ul>
          <li nz-menu-item>
            <a [routerLink]="['comandas']">Comandas</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Estoque" nzIcon="file">
        <ul>
          <li nz-menu-item>
            <a [routerLink]="['estoque']">Informações</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['estoque/itens']">Itens</a>
          </li>
        </ul>
      </li>
      <li [nzDisabled]="true" nz-submenu nzTitle="Team" nzIcon="file">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li [nzDisabled]="true" nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>


  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Pasta atual</nz-breadcrumb-item>
        <nz-breadcrumb-item>Página atual</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
