/* You can add global styles to this file, and also import other style files */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: 001529 rgb(235, 235, 235);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 20px;
  border: 3px solid rgb(235, 235, 235);
}

.extra-options{
  display: flex;
  gap: 8px;
}


.d-flex{
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.list-max {
  max-height: 600px;
  overflow-y: auto;
}

@media (max-height: 800px) {
  .list-max{
    max-height: 350px;
  }
}

.card-main{
  overflow-x: hidden;
}

