div.flex-center{
  background-color: rgb(253, 253, 253);
  padding-left: 10px;
}

.cardComanda{
  min-width: 260px;
  box-shadow: 0 0 5px 0.1px rgb(235, 235, 235);
  margin: 5px;

  div {

    span {

      &.bts-comandas{
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      button {
        width: 45%;
        margin-top: 20px;
      }
    }

  }

}

.item-hover{
  cursor: pointer;

  div{
    display: flex;
    justify-content: space-between;
  }
}

.item-hover:hover{
  background-color: rgb(255, 160, 160);
  color: #fff;
}
