div.d-flex{
  background-color: rgb(253, 253, 253);
  padding-left: 10px;
}

.cardComanda{
  min-width: 260px;
  width: 23%;
  max-width: 320px;
  box-shadow: 0 0 5px 0.1px rgb(224, 224, 224);
  margin: 5px;

  div {

    span {

      &.bts-comandas{
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      button {
        width: 45%;
        margin-top: 20px;
      }
    }

  }

}
